<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css" />
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<link rel="apple-touch-icon-precomposed" href="__STATIC__/images/favicon.ico">
<script>
var logined = 0
</script>
<title>行业动态</title>
</head>

<body>
<script>
var now_page = 1,
search_value = '';
</script>

	 
	<div id="container">
		  
		<div id="content">	
			<div id="list">
				<ul>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421841277109.jpg" /></div>
								<div class="list_info">
									<h4>UEMO用户图片排序问题</h4>
									 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>6907</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>5</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>8</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421838333851.jpg" /></div>
								<div class="list_info">
									<h4>动画写实场景</h4>
									 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>186</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>0</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>1</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421805669559.jpg" /></div>
								<div class="list_info">
									<h4>太白案例更新+ui页面</h4>
									 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>423</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>0</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>1</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421805477901.jpg" /></div>
								<div class="list_info">
									<h4>上海自贸试验区3小时40分通关 看完你再也不想找代购</h4>
									
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>876</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>2</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>10</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421763729558.jpg" /></div>
								<div class="list_info">
									<h4>MEIOS(决赛补齐界面)</h4>
								 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>1238</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>1</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>8</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421742102374.jpg" /></div>
								<div class="list_info">
									<h4>5年前的游戏icon及地图绘制</h4>
									 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>1228</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>0</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>1</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/142174136543.jpg" /></div>
								<div class="list_info">
									<h4>&lt;hello logo&gt;特别篇——动物畅想曲（1）</h4> 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>1264</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>4</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>3</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421734678611.jpg" /></div>
								<div class="list_info">
									<h4>离职后做的一个外包</h4> 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>1441</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>1</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>7</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421726012956.jpg" /></div>
								<div class="list_info">
									<h4>Bodhi</h4> 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>1987</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>0</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>3</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1420788431778.jpg" /></div>
								<div class="list_info">
									<h4>复古小清新rosevovo</h4> 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>3186</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>19</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>38</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
										<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/142172644254.jpg" /></div>
								<div class="list_info">
									<h4>另类设计后期欣赏</h4> 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>4629</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>33</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>46</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
					<li>
						<div class="wrap">
							<a class="alist" vhref="zhengwen.html">
								<div class="list_litpic fl"><img src="images/1421207067537.jpg" /></div>
								<div class="list_info">
									<h4>2010-2014平面类作品合集</h4> 
									<div class="list_info_i">
										<dl class="list_info_views">
											<dt></dt>
											<dd>4775</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_comment">
											<dt></dt>
											<dd>2</dd>
											<div class="clear"></div>
										</dl>
										<dl class="list_info_like">
											<dt></dt>
											<dd>13</dd>
											<div class="clear"></div>
										</dl>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</div>
					</li>
									</ul>
				<div class="list_loading"><i></i><span>努力加载中...</span></div>
			</div>
		</div>
		
		<div class="push_msk"></div>
	</div>

	 
	
	<div id="newwrap_t" class="newwrap">
		<div class="newwrap_msk"></div>
		<iframe id="newwrap" frameborder="0" width="100%" height="100%"></iframe>
	</div>
	 
	<div class="loading_dark"></div>
	<div id="loading_mask">
		<div class="loading_mask">
			<ul class="anm">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<script language="javascript" src="__STATIC__/js/zepto.min.js"></script>
	<script language="javascript" src="__STATIC__/js/fx.js"></script>
	<script language="javascript" src="__STATIC__/js/script.js"></script>
	
</body>
</html>